**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
crossval_log/
log/
.vscode/
.ipynb_checkpoints/
train_dataset/
**/*zip
README.md
notebooks
.gitignore
*.sh
config/classification/
config/metric_learning/
dataset_classif_0804
env/
logs/
metric_learning_dataset/
mlruns/
train_dataset_sigi/